.inventario1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.datos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  margin: 5px;
}
.datos input {
  width: 300px;
  height: 30px;
  padding-left: 10px;
  border-radius: 5px;
  margin: 5px;
}
.datos button {
  width: 320px;
  height: 50px;
  margin-top: 5px;
}

.input-registro-search {
  width: 80.7%;
  height: 3.5625rem;
}
