:root{
  --fuente-tabla: "Roboto Mono", monospace;
}

.tabla-get {
  border-collapse: separate;
  border-spacing: 4px;
}

.row-border-left {
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}

.row-border-right {
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}

.tabla-get > thead > tr > th {
  background-color: #b0ccba !important;
}

.tabla-get > tbody > tr > * {
  background-color: #f2f2f2;
  font: var(--fuente-tabla) !important;
  font-size: 1.05rem !important;
  line-height: 1 !important; 
}

.table-responsive{
  max-height: 54.5vh !important;
  overflow-y: auto !important;
  overflow-x: auto !important;
  padding-right: 3px !important;
  /* Estilos para navegadores basados en WebKit (Chrome, Safari, etc.) */
  &::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de desplazamiento */
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #aaa9a9; /* Color de la barra de desplazamiento */
  }
}