.tabla-get {
  border-collapse: separate;
  border-spacing: 4px;
}

.row-border-left {
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}

.row-border-right {
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}

.tabla-get > thead > tr > th {
  background-color: #b0ccba !important;
}

.tabla-get > tbody > tr > * {
  background-color: #f2f2f2;
}

.delgado {
  width: 200px;
  height: 52px;
}
